  body {

            background-image: url('https://i.pinimg.com/564x/f4/6f/9b/f46f9b4e97e389aa2b8f14833f79b518.jpg');
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bolder;
        }

        .form-group {
            font-style: black;
        }

        title2 {
            color: black;
        }